/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #1a1a1a;
  color: #fff;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo img{
  width: 150px;
}
.nav .nav-links {
  column-gap: 30px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav-log {
  display: none;
}
.logs a {
  margin-left: 10px;
  border: solid 1px;
  padding: 2px 8px 2px 8px;
  border-radius: 20px;
  text-decoration: none;
}
.logs a:hover {
  background-color: blue;
  transition: .5s;
}
.garis::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: blue;
    transition: width .3s;
    border-radius: 3px;
}
.garis:hover::after {
    width: 100%;
    transition: width .3s;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 310px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
.container {
  max-width: 1159px;
  padding: 20px;
  margin: 70px auto 0 auto;
}
.swiper {
  margin: 20px 0;
  width: 73%;
  height: 100%;
  border-radius: 10px;
  float: left;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*LANDING PAGE*/
.info {
    color: #fff;
    margin: auto;
    padding: 10px 10px 10px 20px;
    background-color: #0b0a0d;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    text-align: center;
}

.info span {
    background-color: red;
    padding: 0 5px;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 3px;
}
/* Anime */
.heading-box {
  display: flex;
  justify-content: space-between;
  width: 75%;
  border-left: 5px solid blue;
  padding: 0 12px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.heading-box .heading {
  font-size: 1.6em;
  font-weight: bold;
}
.anime-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  float: left;
  justify-content: center;
}
.main-side {
  background-color: #222;
  margin-top: 20px;
  width: 25%;
  padding: 10px;
  float: right;
}
.r-anime {
  display: flex;
  margin: 5px 0px 5px 0px;
  height: 100px;
}
.r-anime a img {
  height: 100px;
  border-radius: 3px;
}
.r-text {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
}

.r-text strong {
  font-size: 1rem;
}

.r-text span {
  font-size: .7rem;
}
.view-all {
  position: relative;
  top: 8px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  width: 100px;
}
.box {
  position: relative;
  width: 125px;
  height: 180px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0e0e0ec2;
  overflow: hidden;
}
.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #161616b9 35%, rgba(73,73,73,0.23) 64%);
}
.box-text .ep {
  background-color: rgba(94, 89, 89, 0.562);
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 0px 7px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}
.box-text .judul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}
.box-text .judul span {
  font-size: 0.7rem;
  font-weight: 400;
}
.box-text .judul strong {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 100%;
  background-color: rgba(27,27,27,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all ease 0.1s;
  z-index: 2;
}
.box-overlay i {
  font-size: 2rem;
}
.box:hover .box-overlay{
  top: 0px;
  transition: all ease 0.1s;
}

footer {
  background-color: #333333;
  padding: 1em;
}
.footer-container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-section {
  width: 30%;
  text-align: center;
}
.footer-section img {
  width: 150px;
}

.footer-section h3 {
  margin-bottom: 0.5em;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section .kopi {
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  background-color: #dc3545;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
  clear: both;
}


/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 210px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 160px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(49, 44, 44, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .swiper{
    width: 100%;
  }
  .heading-box {
    width: 100%;
  }
  .anime-container {
    width: 100%;
    padding: 0;
  }
  .box {
    width: 150px;
    height: 210px;
  }
  .main-side {
    display: none;
  }
  .nav-log {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  .box {
    width: 115px;
    height: 150px;
  }
  .footer-section {
    width: auto;
  }
  .swiper {
    width: 100%;
  }
}