{% extends 'base.html' %}

{% block title %}{{ anime.title }} - Fulanime{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/animedetail.css' %}">

  <div class="container cf" style="padding: 20px;">

    <div class="info">
      <span>INFO</span> repair is complete, happy watching and downloading<br>
      Sedang dalam proses penambahan video streaming (Episode List) untuk setiap Anime. Dimulai dari Abjad A-Z
    </div>

    <div class="anime-detail-container">
      <img src="{{ MEDIA_URL }}{{ anime.cover_image.url }}" alt="{{ anime.title }} Cover">
      <div class="text-genre-container">
          <h1>{{ anime.title }}</h2>
          <p><strong>Tanggal Rilis:</strong> {{ anime.release_date|date:"M d, Y" }}</p>
          <p><strong>Total Episode:</strong> {{ anime.episode_count }}</p>
          <p><strong>Status:</strong> {{ anime.get_status_display }}</p>  {# Menampilkan status dengan label yang sesuai #}
          <p><strong>Genre:</strong></p>
          <ul>
              {% for genre in anime.genres.all %}
                  <li>{{ genre.name }}</li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <div class="description">
        <h3>Deskripsi :</h3>
        <p>{{ anime.description }}</p>
    </div>
  

    <!-- Donate Buttons -->
    <div class="donate">
          <a href="https://trakteer.id/alana_feith/tip" target="_blank" style="background-color: #dc3545">
            <i class="uil uil-coffee"></i>
              Trakteer Kopi
          </a>
          <a href="https://trakteer.id/alana_feith/tip" target="_blank" style="background-color: #198754">
            <i class="uil uil-wallet"></i>
              Donasi via SociaBuzz
          </a>
          <a href="https://trakteer.id/alana_feith/tip" target="_blank" style="background-color: #efc130">
            <i class="uil uil-money-insert"></i>
            Donasi via Saweria
          </a>
    </div>
    

    <h3>Episode:</h3>
    <ul class="episode-list">
      {% for episode in anime.episode_set.all %}
        <li>
          <a href="{% url 'episode_detail' episode.id %}">{{ episode.title }} - Subtitle Indonesia</a>
        </li>
      {% endfor %}
    </ul>
  
  </div>
{% endblock %}
