{% extends 'base.html' %}

{% block title %}{{ episode.anime.title }} - Episode {{ episode.episode_number }}{% endblock %}

{% load static %}
  


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detailpage.css' %}">

  <div class="container cf">

    <div class="episode-page">
      <h3>{{ episode.anime.title }} - Episode {{ episode.episode_number }}</h3>
      <div class="video-container">
        <div class="watermark">
          <img src="{% static "image/logo.png" %}" alt="logo">
        </div>
        <iframe src="{{ episode.video_url }}" 
            frameborder="0"
            allowfullscreen="true" 
            scrolling="NO" 
            webkitallowfullscreen="true" 
            mozallowfullscreen="true">
        </iframe>
    </div>
    
      <!-- Episode Buttons -->
      <div class="episode-buttons-container">
        <div class="episode-buttons">
            {% for ep in episode.anime.episode_set.all %}
                <a href="{% url 'episode_detail' ep.id %}" class="{% if ep.id == episode.id %}active-playing{% else %}inactive{% endif %}">
                    Eps {{ ep.episode_number }}
                </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="pagination-buttons">
        <button id="prevButton" onclick="scrollPagination('prev')">Previous</button>
        <button id="nextButton" onclick="scrollPagination('next')">Next</button>
    </div>
    

      <!-- Heading Box - Trending Anime -->
      <div class="heading-box" style="width:100%;">
        <div class="heading">Trending Now</div>
      </div>

      <!-- Anime Container - Trending Anime -->
      <div class="anime-container" style="width:100%; margin-bottom: 20px;">
        <!-- Box -->
        {% for trending_anime in trending_animes|slice:":12" %}
          <div class="box" >
            <a href="{% url 'anime_detail' trending_anime.anime.id %}" class="box-overlay">
              <i class="uil uil-play-circle"></i>
            </a>
            <div class="box-img">
              <img src="{{ trending_anime.anime.cover_image.url }}" alt="{{ trending_anime.anime.title }}">
            </div>
            <div class="box-text">
              <span class="ep">Ep {{ trending_anime.anime.episode_set.count }}</span>
              <div class="bottom-text">
                <div class="judul">
                  <strong>{{ trending_anime.anime.title }}</strong>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <!-- Comment Form -->
      <form class="comment-form" method="post" action="{% url 'add_comment' episode.id %}">
        {% csrf_token %}
        <label for="user_name">Your Name:</label>
        <input type="text" name="user_name" required>
        <br>
        <label for="comment_text">Your Comment:</label>
        <textarea name="comment_text" rows="4" required></textarea>
        <br>
        <button type="submit">Submit Comment</button>
      </form>

      <h3 style="margin: 10px 0 ;">Comments:</h3>
      <ul class="comment-list">
          {% for comment in comments %}
          <li>
            <div class="fix-comment">
              <img src="{% static "image/userpic.jpeg" %}" alt="user">
              <div class="fix-side">
                <div class="comment-text">
                  <h4>{{ comment.user_name }}</h4>
                  <span>{{ comment.timestamp|date:"d F Y" }}</span>
                </div>
                <p>{{ comment.comment_text }}</p>
              </div>
            </div>
        </li>
          {% endfor %}
      </ul>

    </div>

    
  

  </div>

  <script>
    function scrollPagination(direction) {
        const container = document.querySelector('.episode-buttons-container');
        const scrollAmount = 200;
        if (direction === 'prev') {
            container.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
        } else {
            container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
        }
    }
</script>
{% endblock %}
