<!-- index.html -->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- Add your additional CSS links here -->
{% endblock %}

{% block content %}

<div class="wrapper">
  <div class="toast" id="toast">
    <div class="container-1">
        <i class="uil uil-info-circle"></i>
    </div>
    <div class="container-2">
        <p>Info <small>(Closing in <span id="countdown">5</span> sec)</small></p>
        <p>Tertarik untuk beriklan di situs Fulanime? silakan bergabung ke server Discord https://discord.gg/hfx3gpbaWP</p>
    </div>
  </div>
</div>
  <!-- Info -->
  <div class="container cf" style="padding: 20px;">
    <div class="info">
      <span>INFO</span> repair is complete, happy watching and downloading<br>
      Sedang dalam proses penambahan video streaming (Episode List) untuk setiap Anime. Dimulai dari Abjad A-Z<br>
    </div>
    <!-- Anime -->
      <section class="anime" id="anime">
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for content in swiper_contents %}
              <div class="swiper-slide">
                <img src="{{ content.image.url }}" alt="{{ content.judul }}">
                <div class="slide-content">
                  <p>{{ content.subjudul }}</p>
                  <h1>{{ content.judul }}</h1>
                  <p>{{ content.deskripsi }}</p>
                  <a href="{{ content.aksi }}" class="watch-now-button">Watch Now</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <!-- Main Side - Recommended Anime -->
        <div class="main-side">
          <div class="side-judul">Rekomendasi</div>
          <div class="side-anime">
            <!-- S -->
            <hr>
            {% for recommended_anime in recommended_animes %}
              <div class="r-anime">
                <a href="{% url 'anime_detail' recommended_anime.anime.id %}">
                  <img src="{{ recommended_anime.anime.cover_image.url }}" alt="{{ recommended_anime.anime.title }}">
                </a>
                <div class="r-text">
                  <div class="r-judul">
                    <strong>{{ recommended_anime.anime.title }}</strong>
                  </div>
                  <div class="r-etc">
                    <span>Genre: {% for genre in recommended_anime.anime.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span><br>
                    <span>Eps: {{ recommended_anime.anime.episode_set.count }}</span><br>
                    <span>Status: {{ recommended_anime.anime.get_status_display }}</span><br>
                    <span>{{ recommended_anime.anime.release_date|date:"M d, Y" }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <!-- Heading Box - Trending Anime -->
        <div class="heading-box">
          <p class="heading">Trending Now</p>
          <a href="{% url 'anime_list' %}">View All<i class="uil uil-arrow-right"></i></a>
        </div>

        <!-- Anime Container - Trending Anime -->
        <div class="anime-container">
          <!-- Box -->
          {% for trending_anime in trending_animes %}
            <div class="box">
              <a href="{% url 'anime_detail' trending_anime.anime.id %}" class="box-overlay">
                <i class="uil uil-play-circle"></i>
              </a>
              <div class="box-img">
                <img src="{{ trending_anime.anime.cover_image.url }}" alt="{{ trending_anime.anime.title }}">
              </div>
              <div class="box-text">
                <span class="ep">Ep {{ trending_anime.anime.episode_set.count }}</span>
                <div class="bottom-text">
                  <div class="judul">
                    <strong>{{ trending_anime.anime.title }}</strong>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- Heading Box - List Anime -->
        <div class="heading-box">
          <p class="heading">Anime List</p>
          <a href="{% url 'anime_list' %}">View All<i class="uil uil-arrow-right"></i></a>
        </div>
        

        <!-- Anime Container - List Anime -->
        <div class="anime-container">
          <!-- Box -->
          {% for anime in anime_list %}
            <div class="box">
              <a href="{% url 'anime_detail' anime.id %}" class="box-overlay">
                <i class="uil uil-play-circle"></i>
              </a>
              <div class="box-img">
                <img src="{{ anime.cover_image.url }}" alt="{{ anime.title }}">
              </div>
              <div class="box-text">
                <span class="ep">Ep {{ anime.episode_set.count }}</span>
                <div class="bottom-text">
                  <div class="judul">
                    <strong>{{ anime.title }}</strong>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>


        <!-- Heading Box - List Movie -->
        <div class="heading-box">
          <p class="heading">Movie List</p>
          <a href="{% url 'movie_list' %}">View All<i class="uil uil-arrow-right"></i></a>
        </div>


        <div class="anime-container" style="width: 100%;">
          <!-- Box -->
          {% for movie in movie_list %}
            <div class="box">
              <a href="{% url 'movie_detail' movie.id %}" class="box-overlay">
                <i class="uil uil-play-circle"></i>
              </a>
              <div class="box-img">
                <img src="{{ movie.cover_image.url }}" alt="{{ movie.title }}">
              </div>
              <div class="box-text">
                <span class="ep"><i class="uil uil-star"></i> {{ movie.rating }}</span>
                <div class="bottom-text">
                  <div class="judul">
                    <strong>{{ movie.title }}</strong>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </section>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var toast = document.getElementById('toast');
      var countdownText = document.getElementById('countdown');
      var countdown = 5; // set countdown time in seconds

      function updateCountdown() {
        countdownText.innerText = countdown;

        if (countdown === 0) {
          closeToast();
        } else {
          countdown--;
          setTimeout(updateCountdown, 1000);
        }
      }

      function closeToast() {
        toast.style.display = 'none';
      }

      updateCountdown();
      toast.style.display = 'flex';
    });
  </script>

{% endblock %}

{% block extra_js %}
  <!-- Add your additional JS scripts here -->


  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}
