{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Fulanime{% endblock %}
{% load static %}
  


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detailpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/animedetail.css' %}">

  <div class="container cf">

    <div class="episode-page">
        <h2>{{ movie.title }}</h2>
        <div class="video-container">
          <div class="watermark">
            <img src="{% static "image/logo.png" %}" alt="logo">
          </div>
          <iframe src="{{ movie.video_url }}" 
              frameborder="0"
              allowfullscreen="true" 
              scrolling="NO" 
              webkitallowfullscreen="true" 
              mozallowfullscreen="true">
          </iframe>
      </div>

    <div class="anime-detail-container">
      <img src="{{ MEDIA_URL }}{{ movie.cover_image.url }}" alt="{{ movie.title }} Cover">
      <div class="text-genre-container">
          <h1>{{ movie.title }}</h2>
          <p><strong>Tanggal Rilis:</strong> {{ movie.release_date|date:"M d, Y" }}</p>
          <p><strong>Total Episode:</strong> {{ movie.episode_count }}</p>
          <p><strong>Genre:</strong></p>
          <ul>
              {% for genre in movie.genres.all %}
                  <li>{{ genre.name }}</li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <div class="description">
        <h3>Deskripsi :</h3>
        <p>{{ movie.description }}</p>
    </div>

    <!-- Donate Buttons -->
    <div class="donate">
          <a href="https://trakteer.id/alana_feith/tip" target="_blank" style="background-color: #dc3545">
            <i class="uil uil-coffee"></i>
              Trakteer Kopi
          </a>
          <a href="https://trakteer.id/alana_feith/tip" target="_blank" style="background-color: #198754">
            <i class="uil uil-wallet"></i>
              Donasi via SociaBuzz
          </a>
          <a href="https://trakteer.id/alana_feith/tip" target="_blank" style="background-color: #efc130">
            <i class="uil uil-money-insert"></i>
            Donasi via Saweria
          </a>
    </div>
    
  
  </div>
{% endblock %}
